.container {
  padding: 5px;
}

.link {
  padding: 0 10px;
  display: inline-block;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 600;
  color: azure;
}

@media screen and (min-width: 768px) {
  .link {
    font-size: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .link {
    font-size: 26px;
  }
}

.isActive {
  color: gold;
}
