:root {
  font-family: 'Montserrat', monospace;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: azure;
  background: linear-gradient(
    178.6deg,
    rgb(20, 36, 50) 11.8%,
    rgb(124, 143, 161) 83.8%
  );
  min-height: 75vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}
