.wrapper {
  background-position: inherit;
}

.list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    flex-direction: row;
  }
}
