.wrapper {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  background-color: inherit;
  border-bottom: none;
  box-shadow: none;
}

.username {
  font-size: 18px;
  font-weight: 700;
  color: green;
}

@media screen and (min-width: 768px) {
  .username {
    font-size: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .username {
    font-size: 26px;
  }
}

.btn {
  margin: 0 10px;
  padding: 10px;
  display: block;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  background-color: gold;
  color: rgb(74, 72, 72);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:focus,
.btn:hover {
  color: green;
  background-color: azure;
  border: 2px solid green;
  box-shadow: 2px 2px 2px gray;
}
